.sticky {
  position: fixed !important;
  background-color: #fff !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1) !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 5 !important;
}

.sticky .top_bar .link {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #2E5490 !important;
}

.sticky .top_bar .link svg {
  color: #2E5490 !important;
}

.sticky .nav_bar .item {
  color: #1a1a1a !important;
}

.sticky .item .dropdown-toggle{
  color: #1a1a1a !important;
}

.item .dropdown-toggle {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #fff !important;
  padding: 0px 10px;
}

.item .dropdown-menu {
  border-radius: 0 !important;
  background-color: #fff !important;
}

.item .dropdown-menu .dropdown-item {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #1a1a1a !important;
  padding: 8px 20px !important;
}

.item .dropdown-menu .dropdown-item:hover{
   border-left: 3px solid #2E5490;
   color: #2E5490 !important;
}

/* Home page loved app section */

.myswiper1 .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2E5490;
  left: unset !important;
  top: 50% !important;
  right: 10% !important;
}

.myswiper1 .swiper-button-prev:after {
  font-size: 20px !important;
  color: #fff !important;
}

.myswiper1 .swiper-button-next:after {
  font-size: 20px !important;
  color: #fff !important;
}

.myswiper1 .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2E5490;
  top: 50% !important;
  right: 5% !important;
}


/* About */

.myswiper2 .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2E5490;
}

.myswiper2 .swiper-button-prev:after {
  font-size: 20px !important;
  color: #fff !important;
}

.myswiper2 .swiper-button-next:after {
  font-size: 20px !important;
  color: #fff !important;
}

.myswiper2 .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2E5490;
}



.myswiper3 .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2E5490;
  left: unset !important;
  top: 7% !important;
  right: 10% !important;
}

.myswiper3 .swiper-button-prev:after {
  font-size: 20px !important;
  color: #fff !important;
}

.myswiper3 .swiper-button-next:after {
  font-size: 20px !important;
  color: #fff !important;
}

.myswiper3 .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2E5490;
  top: 7% !important;
  right: 5% !important;
}